body{
    font-family: 'Roboto', sans-serif;
    transition: 0.4s;
    min-height: 120vh;
}

.container{
    width: 1200px;
}

.mainHeader{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgb(221, 221, 221);
    position: fixed;
    transition: 0.4s;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-15px);
}

.headerLogo a{
    font-weight: bold;
    font-size: 28px;
    color: #333333;
}


.headerNavList{
    display: flex;
    width: 330px;
    gap: 30px;
    
}

.headerNavList li a{
    text-decoration: none;
    color: #828282;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.headerNavList li a:hover{
    text-decoration: none;
    color: #333333;
}

.selected{
    color: black;
    font-weight: 700;
}

.mainContent{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}

#items{
    width: 70%;
    height: 100px;
}

#cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 100px;
}

.itemCard{
    width: 269px;
    height: 400px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 3px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.4s;
}

.itemCard:hover{
    border: 3px solid #37268C;
}
.productImage{
    height: 40%;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-content: center;
}

.aboutProduct{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.productCategory{
    background-color: #2E245E;
    color: #F5F5F5;
    padding: 5px;
    width: 90px;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

.productName{
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

.productDescription{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   font-size: 12px;
   line-height: 19px;
   color: #828282;
}

.productPrice{
    color: #37268C;
    font-size: 16px;
    font-weight: bold;
}

#addToCart{
    border: none;
    text-align: start;
    background-color: #ffffff;
    padding: 0;
    cursor: pointer;
    width: 135px;
    color: #333333;
    transition: 0.3s;
    font-weight: 500;
}

#addToCart:hover{
    color: #37268C;
    text-decoration: underline;
}


.categoryNotFound{
    font-weight: 700;
    font-size: 25px;
    color: #9b9b9b;
    text-align: center;
}


.cartAside{
    width: 310px;
}

.search{
    padding-bottom: 30px;
    display: flex;
    flex-wrap: nowrap;
}

.search input{
    width: 70%;
    border: none;
    background-color: #F5F5F5;
    padding: 15px 5px;
    outline: none;
    color: #333333;
}

#searchBtn{
    background-color: #37268C;
    color: white;
    width: 30%;
    cursor: pointer;
    border: none;
    transition: 0.4s;
}

#searchBtn:hover{
    background-color: #2E245E;
}

.cart{
    background-color:#F5F5F5;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
}

.cartTitle{
    background-color: #37268C;
    padding: 15px;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

#cartList{
   height: 250px;
   width: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   
}

.cartItem{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    margin: 20px;
}

.cartProductImage{
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.cartProductDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    margin-left: 20px;
}

.productNameCart{
    font-weight: bold;
    max-width: 190px;
    color: #333333;
    font-size: 16px;
}

.productPriceCart{
    font-weight: bold;
    color: #37268C;
}

.cartProductImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#removeBtn{
    background-color: #F5F5F5;
    text-align: start;
    border: none;
    padding: 0;
    cursor: pointer;
}

#removeBtn:hover{
    text-decoration: underline;
}

.cartDetails{
    background-color: rgb(207, 207, 207);
    display: flex;
    width: 330px;
    justify-content: space-between;
    background-color: #333333;
    color: white;
    flex-direction: column;
    align-items: center;
}

.totalPrice{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 150px;
    padding: 15px;
}

.totalQuant h4, .totalPrice h4{
    font-weight: 700;
}

.totalQuant{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    gap: 150px;
}

.emptyCart{
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-top: 90px;
    font-size: 20px;
}

.emptyCartCTA{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}


.selected{
    font-weight: 600 !important;
    color: #2E245E !important;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 20px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
    border-left: 1px solid #CCC
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171
}

